[Variables]
ace__revision = 0
ace_current_index = -1
ace_filament_pos = 'spliter'
# Note: These arrays will auto-expand if more gates are detected (chained devices)
# Default is 4 gates for single ACE Pro, but supports 8, 12, or 16 for chained units
ace_gate_color = ['000000', '000000', '000000', '000000']
ace_gate_temp = [0, 0, 0, 0]
ace_gate_type = ['PLA', 'PLA', 'PLA', 'PLA']

